
.#{$prefix}-ui-skin-smallscreen {

  // Adjustments for screen width x <= 400
  &.#{$prefix}-layout-max-width-400 {
    .#{$prefix}-ui-playbackforwardbutton,
    .#{$prefix}-ui-playbackrewindbutton {
      font-size: 1.2em;
      top: 42%;
    }

    .#{$prefix}-ui-playbackforwardbutton {
      right: 20%;
    }

    .#{$prefix}-ui-playbackrewindbutton {
      left: 20%;
    }
  }

  // Adjustments for screen width 400 < x <= 600
  &.#{$prefix}-layout-max-width-600 {
    .#{$prefix}-ui-playbackforwardbutton,
    .#{$prefix}-ui-playbackrewindbutton {
      top: 43%;
    }

    .#{$prefix}-ui-playbackforwardbutton {
      right: 20%;
    }

    .#{$prefix}-ui-playbackrewindbutton {
      left: 20%;
    }
  }

  // Adjustments for screen width x <= 600
  // sass-lint:disable no-empty-rulesets
  &.#{$prefix}-layout-max-width-400,
  &.#{$prefix}-layout-max-width-600 {
    // none yet
  }
}