@import 'components/playbackjumpcontrolsoverlay';
@import 'components/radiomodetogglebutton';
@import 'components/gobackbutton';

@import '../skin-modern/ui-skin-radio';

.#{$prefix}-ui-uicontainer {
  &.#{$prefix}-player-state-idle {
    .#{$prefix}-ui-playbackforwardbutton,
    .#{$prefix}-ui-playbackrewindbutton {
      display: none;
    }
  }

  &.#{$prefix}-player-state-finished {
    .#{$prefix}-ui-playbackforwardbutton,
    .#{$prefix}-ui-playbackrewindbutton {
      display: none;
    }
  }

  &.#{$prefix}-layout-max-width-400 {
    .#{$prefix}-ui-playbackforwardbutton,
    .#{$prefix}-ui-playbackrewindbutton {
      top: 43%;
      font-size: 1em;
    }

    .#{$prefix}-ui-playbackforwardbutton {
      right: 20%;
    }

    .#{$prefix}-ui-playbackrewindbutton {
      left: 20%;
    }
  }

  &.#{$prefix}-layout-max-width-600 {
    .#{$prefix}-ui-playbackforwardbutton,
    .#{$prefix}-ui-playbackrewindbutton {
      top: 43%;
    }

    .#{$prefix}-ui-playbackforwardbutton {
      right: 20%;
    }

    .#{$prefix}-ui-playbackrewindbutton {
      left: 20%;
    }
  }
}
