@mixin playback-button-common($position, $side, $image-url) {
  font-size: 1.5em;

  @extend %ui-button;

  position: absolute;
  top: 47%;
  #{$side}: $position;

  background-image: url($image-url);

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-player-state-playing,
  &.#{$prefix}-player-state-ad-playing,
  &.#{$prefix}-player-state-live {
    // custom style here
  }
}

.#{$prefix}-ui-playbackforwardbutton {
  @include playback-button-common(25%, right, '../../assets/skin-modern/images/forward.svg');
}

.#{$prefix}-ui-playbackrewindbutton {
  @include playback-button-common(25%, left, '../../assets/skin-modern/images/rewind.svg');
}