@import '../variables';
@import '../mixins';

.#{$prefix}-ui-fullscreentogglebutton {
  @extend %ui-button;

  background-image: url('../../assets/skin-modern/images/fullscreen.svg') !important;

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-on {
    background-image: url('../../assets/skin-modern/images/fullscreenX.svg') !important;
  }
}

.#{$prefix}-controlbar-fullscreen-toggle-button {
  padding: 0;
  height: 1em;
}