@import '../variables';

.#{$prefix}-ui-watermark {
  @extend %ui-clickoverlay;

  $watermark-size: 4em;

  background-image: none;
  background-size: initial;
  height: 0;
  margin: 2em;
  opacity: .8;
  position: absolute;
  right: 0;
  top: 0;
  width: $watermark-size;

  &:hover {
    opacity: 1;
  }
}
